img(src!='assets/divider.png')

h1
  img(width='30' src!='https://emojis.slackmojis.com/emojis/images/1536350972/4592/blob-wink.gif') 
  |  ¡Hola, soy Luis!

include templates/about-me.pug

if badges && badges.length
  include templates/badges.pug

if articles && articles.length
  include templates/medium-articles.pug

if instagram && instagram.length
  include templates/instagram.pug

if github && github.enabled
  include templates/github-stats

if social && social.length
  include templates/social.pug

img(src!='assets/divider.png')
